@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
	font-family: "Merriweather", serif;
  margin: 0;
}
.home-hero{
  background-image: url(images/website-banner.jpg);
  background-size: cover;
}
.home-hero h1{
  font-family: 'Merriweather', cursive;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
  text-align:center;
  padding: 50px 0;
  margin: 0;
}
p{
  line-height:1.6;
}
.float-right{
  float: right;
  max-width: 50%;
  height: auto;
  margin: 50px 0 10px 20px;
}
.logo{
   margin: 0 auto;
   display:block;
}

/* Website Links except the nav */
a:link{
  color: #6f2da8;
}
a:visited{
  color: #6f2da8;
}
a:hover{
  color: royalblue;
}
a:active{
  color: indigo;
}
header{
  text-align: center;
}

/*Navigation*/
nav{
  background-color: #bd90d4;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  padding: 5px;
}
nav ul{
  list-style-type: none;
  text-align: center;
  margin: 8px 0;
  padding: 0;
}
nav li{
  display: inline;
  padding: 5px;
}
nav a{
  text-decoration:none;
}
nav a:link{
  color: purple;
}
nav a:visited{
  color: purple;
}
nav a:hover{
  color: blue;
}
nav a:active{
  color:violet;
}

/*Main */
main{
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}
.resume{ 
  max-width: 600px;
}

.sidebar{
 background-color: white; 
 border: 2px solid white; 
}

.sidebar p{ 
  padding: 15px; 
  border: 1px solid black 
}

.js-game{
 background-color: #ffccff; 
}

.portfolio img{ 
  margin-bottom: 32px; 
  border: 1px solid black;
}

/* CSS */
.button-55{
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* remove boder of Bootstrap card */
.card { 
  border: none; 
}

/*Footer */
footer{
  border-top: purple 3px solid;
  text-align: center;
  clear: both;
  padding-top: 10px;
}
.fa{
  font-size: 2em;
  color: violet;
}
/*CSS without a media query--applies to all sizes unless overridden*/
h1{
  font-size: 4em;
  color:#a300cc ;
  text-align: center;
}
h2{
  color: #a300cc;
  text-align: center;
}
 button{
  margin: 0 auto;
  display: block;
 } 
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
  }
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
